@import "../AiControl/Definition";
  
ai-input {
    display:inline-block;
    width:160px;
    margin:20px;
    position:relative;
    
    .ai-input-box{
        appearance: none;
        background: rgba(255,255,255,.95);
        outline: none;
        width: 100%;
        box-sizing: border-box;
        -ms-flex-preferred-size: @input-line-height; // IE10
        color: rgba(0,0,0,0.87);
        border-color: rgba(0,0,0,0.12);
        border-width: @input-border-width-default;
        border-style: solid;
        font-size: 80%;
        padding:1px 6px 1px 6px;
        line-height: 22px;
    }
    
    .ai-input-icon{
        position: absolute;
        top: 6px;
        margin: auto;
        background-repeat: no-repeat no-repeat;
        display: inline-block;
        vertical-align: middle;
        height: 16px;
        width: 16px;
        font-size:16px;    
        color:#7c7c7c;
    }
    
    .ai-input-left{
        left: 6px;
        right: auto;
    }

    .ai-input-right{
        left: auto;
        right:6px;
    }

    .ai-input-symbol{
        left: auto;
        right:-18px;
    }
    .ai-input-symbol.done{
        .color-green(.9)!important;
    }
    .ai-input-symbol.error{
        .color-red(.8)!important;
    }
}

ai-input .ai-input-box:focus {
    outline: none;
}

ai-input.ai-input-left .ai-input-box{
    padding-left:26px;
}

ai-input.ai-input-right .ai-input-box{
    padding-right:26px;
}


ai-input.readonly .ai-input-box{
    color: rgba(0,0,0,0.26);
}

ai-input.disabled .ai-input-box{
    background-position: 0 bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    margin-bottom: -1px;
    border-bottom-color: transparent;
    color: rgba(0,0,0,0.26);
    background-image: linear-gradient(to right, rgba(0,0,0,0.26) 0%, rgba(0,0,0,0.26) 33%, transparent 0%);
}

ai-input.focus {
    .ai-input-box{
        .border-primary(.7);
    }
}


ai-input[primary] {
    .ai-input-box{
        .border-primary(.4);
    }
    .ai-input-icon{
        .color-primary(.8);
    }
}
ai-input[primary].focus .ai-input-box{
    .border-primary(.9);
}

ai-input[red] {
    .ai-input-box{
        .border-red(.4);
    }
    .ai-input-icon{
        .color-red(.8);
    }
}
ai-input[red].focus .ai-input-box{
    .border-red(.9);
}
ai-input[red] ::selection {
    .background-red(.3);
}

ai-input[green] {
    .ai-input-box{
        .border-green(.4);
    }
    .ai-input-icon{
        .color-green(.8);
    }
}

ai-input[green].focus .ai-input-box{
    .border-green(.9);
}
ai-input[green] ::selection {
    .background-green(.3);
}

ai-input[yellow] {
    .ai-input-box{
        .border-yellow(.4);
    }
    .ai-input-icon{
        .color-yellow(.8);
    }
}
ai-input[yellow].focus .ai-input-box{
    .border-yellow(.9);
}
ai-input[yellow] ::selection {
    .background-yellow(.3);
}


ai-input[white] .ai-input-box{
    color:#fff;
    background: rgba(200,200,200,.55);
}
ai-input[white].focus .ai-input-box{
    border-color:transparent;
}
ai-input[white] ::selection {
  background: #efefef;
}


/*round*/
ai-input[round] .ai-input-box{
    border-radius: 4px;
}

/*ellipse*/
ai-input[ellipse] {
    .ai-input-box{
        border-radius: 20px;
        padding:2px 16px;
        transition: all 0.3s ease 0s;    
    }
    
    .ai-input-left{
        left: 8px;
        right: auto;
    }

    .ai-input-right{
        left: auto;
        right:8px;
    }

}
ai-input[ellipse].ai-input-left .ai-input-box{
    padding-left:26px;
}

ai-input[ellipse].ai-input-right .ai-input-box{
    padding-right:26px;
}

ai-input[ellipse][large] {
    .ai-input-left{
        left: 10px;
        right: auto;
    }

    .ai-input-right{
        left: auto;
        right:10px;
    }
}
ai-input[ellipse][large].ai-input-left .ai-input-box{
    padding-left:32px;
}

ai-input[ellipse][large].ai-input-right .ai-input-box{
    padding-right:32px;
}
ai-input[ellipse][small].ai-input-left .ai-input-box{
    padding-left:18px;
}

ai-input[ellipse][small].ai-input-right .ai-input-box{
    padding-right:18px;
}


/*line*/
ai-input[line] {
    .ai-input-box{
        padding: @input-padding-top 2px @input-border-width-focused - @input-border-width-default;
        border-width: 0 0 @input-border-width-default 0;
        border-radius: 0;  
        background:none;
    }
    .ai-input-left{
        left: 2px;
        right: auto;
    }

    .ai-input-right{
        left: auto;
        right:2px;
    }

}
ai-input[line].ai-input-left .ai-input-box{
    padding-left:22px;
}

ai-input[line].ai-input-right .ai-input-box{
    padding-right:22px;
}

ai-input[line][large] {
    .ai-input-left{
        left: 2px;
        right: auto;
    }

    .ai-input-right{
        left: auto;
        right:2px;
    }
}

ai-input[line][small] {
    .ai-input-left{
        left: 1px;
        right: auto;
    }

    .ai-input-right{
        left: auto;
        right:1px;
    }
}

ai-input[line].focus .ai-input-box{
    border-color: rgba(21, 126, 251,1);
    padding-bottom: 0; // Increase border width by 1px, decrease padding by 1
    border-width: 0 0 @input-border-width-focused 0;
}
ai-input[line][red] .ai-input-box{
    border-color: rgba(252, 61, 57,1);
}

ai-input[line][green] .ai-input-box{
    border-color: rgba(81, 212, 102,1);
}

ai-input[line][yellow] .ai-input-box{
    border-color: rgba(255, 193, 7,1);
}
ai-input[line][white] .ai-input-box{
    border-color: rgba(255, 255, 255,.9);
}

/*none*/
ai-input[none] .ai-input-box{
    border:none;
}
ai-input[none][white] .ai-input-box{
    background:none;
    
}

/*size*/

ai-input[large] {
    .ai-input-box{
        font-size: 100%;
        padding:1px 8px 1px 8px;
        line-height: @input-line-height;
    }

    .ai-input-icon{
        top: 6px;
        height: 20px;
        width: 20px;
        font-size:20px;    
    }
    
    .ai-input-left{
        left: 6px;
        right: auto;
    }

    .ai-input-right{
        left: auto;
        right:6px;
    }
}
ai-input[large].ai-input-left .ai-input-box{
    padding-left:26px;
}

ai-input[large].ai-input-right .ai-input-box{
    padding-right:26px;
}
ai-input[small].ai-input-left .ai-input-box{
    padding-left:18px;
}

ai-input[small].ai-input-right .ai-input-box{
    padding-right:18px;
}

ai-input[large][ellipse] .ai-input-box{
    padding:2px 16px;
}

ai-input[small] { 
    .ai-input-box{
        font-size: 11px;
        padding:1px 4px 1px 4px;
        line-height: 16px;
    }

    .ai-input-icon{
        top: 4px;
        height: 12px;
        width: 12px;
        font-size:12px;    
    }
    
    .ai-input-left{
        left: 6px;
        right: auto;
    }

    .ai-input-right{
        left: auto;
        right:6px;
    }
}
ai-input[small][ellipse] .ai-input-box{
    padding:2px 10px;
}
