<input class="ai-input-box" (input)="updateValue($event)" (focus)="setHasFocus(true)" (blur)="setHasFocus(false)"
    [disabled]="isDisabled()" 
    [type]="getType()" 
    [readonly]="isReadonly()" 
    [maxLength]="getMaxLength()" 
    [value]="value"  
/>
<ai-icon class='ai-input-icon ai-input-left' ai-material *ngIf="isLeftExist()" (onclick)="onLeftClick()">{{left}}</ai-icon>
<ai-icon class='ai-input-icon ai-input-right' ai-material *ngIf="isRightExist()" (onclick)="onRightClick()">{{right}}</ai-icon>
