@import "../AiControl/Definition";


ai-form-input {
    .input{
        width:100%;
        display:block;
        margin:0;
    }    

    textarea {
        resize: none;
        overflow: hidden;
    }    
}

ai-form-input.disabled{
    
    .input {
        background-position: 0 bottom;
        background-size: 4px 1px;
        background-repeat: repeat-x;
        margin-bottom: -1px;
        border-bottom-color: transparent;
        color: rgba(0,0,0,0.26);
        background-image: linear-gradient(to right, rgba(0,0,0,0.26) 0%, rgba(0,0,0,0.26) 33%, transparent 0%);
    }
}
ai-form-input.focus{
    /*.input {
        border-color: rgba(21, 126, 251,1);
        padding-bottom: 0; // Increase border width by 1px, decrease padding by 1
        border-width: 0 0 @input-border-width-focused 0;
    }*/
}

ai-form-input.error{
    input{
        .border-red(.8);
    }
}

ai-form-input[primary]{
    input{
        .border-primary(.7);
    }
}


ai-form-input[red]{
    input{
        border-color: rgba(252, 61, 57,1)!important;
    }
}

ai-form-input[green]{
    input{
        border-color: rgba(81, 212, 102,1)!important;
    }
}

ai-form-input[yellow]{
    input{
        border-color: rgba(255, 193, 7,1)!important;
    }
}

