<ai-input class="input" (_focus_change)="setHasFocus($event)" (_value_change)="updateValue($event)"
    [disabled]="isDisabled()" 
    [type]="getType()" 
    [readonly]="isReadonly()"
    [maxlength]="getMaxLength()" 
    [value]="value"
    [symbol_icon]="getSymbolIcon()"
    ></ai-input>
<label *ngIf="hasLabel()">{{label}} <span *ngIf="required" class='labelRequired'>(required*)</span></label>
<icon ai-material *ngIf="hasIcon()">{{icon}}</icon>
<div class="spacer">
<message *ngIf="hasMessage()">{{message}}</message>
<word *ngIf="hasWord()">{{word}}</word>
</div>
<error >{{error}}</error>
