@import "../AiControl/Definition";
  
[ai-toggle] {
    .color-default(.9);
    display: inline-block;
    cursor: default;
    position: relative;
    outline: 0 none;
    margin: 16px;
    vertical-align: middle;
    min-width: 36px;
    height: 36px;
    
    .inner {
        display:inline-block;
        width: 24px;
        height: 24px;
        outline: 0 none;
        position: absolute;
        top:0;
        left: 0;
        font-weight: 300;
        transition: display .4s cubic-bezier(.25,.8,.25,1);
        padding:6px;
        border-radius:50%;
    }
    
    .label {
        padding:6px 0 6px 32px;
        display: inline-block;
        max-width:220px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-user-select: text;
        box-sizing: border-box;
        font-size: 20px;
    }
}

[ai-toggle].focus .inner,[ai-toggle].active .inner{
    .background-default(.1);
}

[ai-toggle].hover .inner,[ai-toggle].hover .label{
    .color-default(1);
}

/******************* 
     disable
****************** */

[ai-toggle].disabled .inner,[ai-toggle].disabled .outer,[ai-toggle].disabled .label {
    .color-default(.3);
}

/******************* 
     primary
****************** */

[ai-toggle][primary] .inner,[ai-toggle][primary] .outer,[ai-toggle][primary] .label {
     .color-primary(.9);
}
[ai-toggle][primary].focus .inner,[ai-toggle][primary].active .inner{
    .background-primary(.1);
}
[ai-toggle][primary].hover .inner,[ai-toggle][primary].hover .label{
    .color-primary(1);
}

/******************* 
     color
****************** */

[ai-toggle][red] .inner,[ai-toggle][red] .outer,[ai-toggle][red] .label {
    .color-red(.9);
}
[ai-toggle][red].focus .inner,[ai-toggle][red].active .inner{
    .background-red(.1);
}
[ai-toggle][red].hover .inner,[ai-toggle][red].hover .label{
    .color-red(1);
}

[ai-toggle][green] .inner,[ai-toggle][green] .outer,[ai-toggle][green] .label {
    .color-green(.9);
}
[ai-toggle][green].focus .inner,[ai-toggle][green].active .inner{
    .background-green(.1);
}
[ai-toggle][green].hover .inner,[ai-toggle][green].hover .label{
    .color-green(1);
}

[ai-toggle][yellow] .inner,[ai-toggle][yellow] .outer,[ai-toggle][yellow] .label {
    .color-yellow(.9);
}
[ai-toggle][yellow].focus .inner,[ai-toggle][yellow].active .inner{
    .background-yellow(.1);
}
[ai-toggle][yellow].hover .inner,[ai-toggle][yellow].hover .label{
    .color-yellow(1);
}

/******************* 
     size
****************** */

[ai-toggle][large]{
    min-width: 48px;
    height: 48px;
    
    .inner {
        width: 34px;
        height: 34px;
        font-size: 34px;
        font-weight: 900;
        padding:10px;
    }
    
    .label {
        padding:10px 0 10px 50px;
        font-size: 30px;
    }
}

[ai-toggle][small]{
    min-width: 24px;
    height: 24px;
    .inner {
        width: 14px;
        height: 14px;
        font-size: 14px;
        padding:4px;
    }
    .label {
        padding:4px 0 4px 19px;
        font-size: 12px;
    }
}
