@import "../AiControl/Definition";
  
ai-checkbox[ai-toggle] {

    .inner {
        z-index:0;
    }

    .outer {
        display:none;
        width: 24px;
        height: 24px;
        outline: 0 none;
        position: absolute;
        top: 0;
        left: 7px;
        z-index:1;
        font-weight: 800;
        font-size:30px;
        color:#000;
        transition: display .4s cubic-bezier(.25,.8,.25,1);
    }
    
    .label {
    }
}

ai-checkbox.checked .outer{
    display:inline-block;
}


/******************* 
     disable
****************** */


/******************* 
     primary
****************** */


/******************* 
     color
****************** */


/******************* 
     size
****************** */

ai-checkbox[ai-toggle][large] {

    .inner{
    }
    
    .outer {
        top: 5px;
        left:14px;
        font-weight: 900;
        font-size: 34px;
    }
    
     .label {
    }
}

ai-checkbox[ai-toggle][small] {

    .inner{
    }
    
     .outer {
        top: 3px;
        left:6px;
        font-size: 14px;
    }
    .label {
    }
}
