@import "../AiControl/AiControl";
  
ai-button {
    .color-default(.9);
    .margin-default();
    border-radius:2px;
    border: 1px solid transparent;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),
        background .4s cubic-bezier(.25,.8,.25,1);
    padding: 0 8px;
    margin: 6px 0px;
    min-height: 36px;
    line-height: 34px;
    min-width: 88px;
    max-width: 264px;
    font-size: 16px;
    font-weight: 500;
}

ai-button:focus {
    outline: none;
}

ai-button.focus:not([raised]):not([fab]):not([link]):not([icon]){
    .border-primary(.9);
}

ai-button.hover:not(.active):not([raised]):not([fab]) {
    .background-default(.1);
}

/*disabled*/
ai-button.active {
    .background-default(.4)
}   
ai-button.disabled{
    .color-default(.3);
}

/*size*/
ai-button[large] {
    min-height: 48px;
    line-height: 46px;
    padding: 0 36px;
    min-width: 110px;
    font-size: 22px;
}

ai-button[small] {
    min-height: 24px;
    line-height: 22px;
    padding: 0 6px;
    min-width: 38px;
    font-size: 12px;
}
/*primary*/
ai-button[primary]{
    .color-primary(.9);
}
ai-button[primary].disabled{
    .color-primary(.3);
}
ai-button[primary].hover:not(.active):not([raised]):not([fab]){
    .background-primary(.1);
}
ai-button[primary].active {
    .background-primary(.4);
}   

/*red*/
ai-button[red] {
    .color-red(.9);
}
ai-button[red].disabled{
    .color-red(.3);
}
ai-button[red].hover:not(.active):not([raised]):not([fab]) {
    .background-red(.1);
}
ai-button[red].active {
    .background-red(.4);
}
ai-button[red].focus:not([raised]):not([fab]):not([link]):not([icon]){
    .border-red(.9);
}

/*green*/
ai-button[green] {
    .color-green(.9);
}
ai-button[green].disabled{
    .color-green(.3);
}
ai-button[green].hover:not(.active):not([raised]):not([fab]) {
    .background-green(.1);
}
ai-button[green].active {
    .background-green(.4);
}   
ai-button[green].focus:not([raised]):not([fab]):not([link]):not([icon]){
    .border-green(.9);
}

/*yellow*/
ai-button[yellow] {
    .color-yellow(.9);
}
ai-button[yellow].disabled{
    .color-yellow(.3);
}
ai-button[yellow].hover:not(.active):not([raised]):not([fab]) {
    .background-yellow(.1);
}
ai-button[yellow].active {
    .background-yellow(.4);
}   
ai-button[yellow].focus:not([raised]):not([fab]):not([link]):not([icon]){
    .border-yellow(.9);
}

/******************* 
     icon
****************** */

ai-button[icon]{
    border-radius:50%;
    margin: 6px 8px;
    width: 36px; 
    height: 36px;
    line-height: 36px;
    min-width:initial;
    max-width:initial;
    min-height: initial;
    padding:0;
    font-size: 24px;
}

ai-button[icon].focus {
    .background-default(.1);
}
ai-button[icon][primary].focus {
    .background-primary(.1);
}
ai-button[icon][red].focus {
    .background-red(.1);
}
ai-button[icon][green].focus {
    .background-green(.1);
}
ai-button[icon][yellow].focus {
    .background-yellow(.1);
}

/*icon size*/

ai-button[icon][large] {
    width: 72px;
    height: 72px;
    line-height: 72px;
    font-size: 48px;
}

ai-button[icon][small] {
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
}

/******************* 
     link
****************** */
ai-button[link]:not([red]):not([green]):not([yellow]){
    .color-primary(.9);
}
ai-button[link].active:not([red]):not([green]):not([yellow]){
    .background-primary(.4)!important;
}
ai-button[link].hover:not([red]):not([green]):not([yellow]){
    .background-primary(.1);
}
ai-button[link][primary]{
     font-weight: 800;
}
ai-button[link].focus,ai-button[link].hover{
    text-decoration: underline;
}

/******************* 
     fab
****************** */

ai-button[fab]{
    border-radius:50%;
    margin: 6px 8px;
    width: 56px;
    height: 56px;
    line-height: 56px;
    min-width:initial;
    max-width:initial;
    min-height: initial;
    padding:0;
    background-clip: padding-box;
    font-size: 28px;
}

ai-button[fab].disabled{
    opacity: 0.6;
    color: rgba(0,0,0,0.26) ;
    background:rgba(215,215,215,0.8) ;
}

ai-button[fab] {
    box-shadow:0 2px 5px rgba(0, 0, 0, .26);
}
ai-button[fab].active:not(.hover) {
    background:#e5e5e5;
    box-shadow:0 0px 1px rgba(0, 0, 0, .26);
    transform:scale(.95,.95);
}   
ai-button[fab].active {
    box-shadow:0 5px 8px rgba(0, 0, 0, .26);
    .gradientBackground(#f3f3f3, #fefefe);
}   
ai-button[fab].focus, ai-button[fab].hover:not(.active) {
    box-shadow:0 8px 11px rgba(0, 0, 0, .26);
    transform:scale(1.05,1.05);
}

/*fab primary*/

ai-button[primary][fab] {
    background-color: #157efb;
    color: #fff;
}

ai-button[primary][fab].active {
    .gradientBackground(#1477ed, #157efb);
}


/*fab size*/

ai-button[fab][large] {
    width: 84px;
    height: 84px;
    line-height: 84px;
    font-size: 44px;
}

ai-button[fab][small] {
    width: 28px;
    height: 28px;
    line-height: 28px;
    padding: 0 0;
    font-size: 16px;
}

/*fab red*/
ai-button[fab][red]{
    background: #fc3d39;
    color: #fff;
}
ai-button[fab][red].active {
    .gradientBackground(#be3e2e, #f2221d);

}

/*fab green*/
ai-button[fab][green]{
    background: #51d466;
    color: #fff;
}
ai-button[fab][green].active {
    .gradientBackground(#53a93f, #41cb58);
}

/*fab yellow*/
ai-button[fab][yellow]{
    background: #ffc107;
    color: #fff;
}
ai-button[fab][yellow].active {
    .gradientBackground(#f2b708, #ffc107);
}


/******************* 
     raised
****************** */

ai-button[raised]{
    margin: 6px 8px;
}

ai-button[raised].focus {
    border-bottom:solid 1px #157efb;
}
ai-button[raised].disabled{
    opacity: 0.6;
    color: rgba(0,0,0,0.26) ;
    background:rgba(215,215,215,0.8) ;
}

ai-button[raised] {
    box-shadow:0 2px 5px rgba(0, 0, 0, .26);
}
ai-button[raised].active:not(.hover) {
    background:#e5e5e5;
    box-shadow:0 0px 1px rgba(0, 0, 0, .26);
    transform:scale(.95,.95);
}   
ai-button[raised].active {
    .gradientBackground(#f3f3f3, #fefefe);
    box-shadow:0 5px 8px rgba(0, 0, 0, .26);
}   
ai-button[raised].focus, ai-button[raised].hover:not(.active) {
    box-shadow:0 8px 11px rgba(0, 0, 0, .26);
    transform:scale(1.05,1.05);
}

/*raise primary*/

ai-button[raised][primary]{
    background-color: #157efb;
    color: #fff;
}
ai-button[primary][raised].active {
    .gradientBackground(#2c56b1, #0972ef);
}

ai-button[primary][raised].focus {
    border-bottom:solid 1px #fff;
}

/*raised red*/
ai-button[raised][red]{
    background: #fc3d39;
    color: #fff;
}
ai-button[raised][red].active {
    .gradientBackground(#be3e2e, #f2221d);
}
ai-button[raised][red].focus {
    border-bottom:solid 1px #fff;
}

/*raised green*/
ai-button[raised][green]{
    background: #51d466;
    color: #fff;
}
ai-button[raised][green].active {
    .gradientBackground(#53a93f, #41cb58);
}
ai-button[raised][green].focus {
    border-bottom:solid 1px #fff;
}

/*raised yellow*/
ai-button[raised][yellow]{
    background: #ffc107;
    color: #fff;
}
ai-button[raised][yellow].active {
    .gradientBackground(#f2b708, #ffc107);
}
ai-button[raised][yellow].focus {
    border-bottom:solid 1px #fff;
}

/*border*/
ai-button[leftborder] {
    border-left:solid 1px #E5E5E5;
}
ai-button[rightborder] {
    border-right:solid 1px #E5E5E5;
}
