@import "../AiControl/Definition";


.ai-dlg-body {
    .userSelect(text);
    margin-top: -2px;
    padding:15px 25px 20px 25px;
    display: inline-block;
}

.ai-dlg-body[hasIcon] {
    padding:20px 25px 20px 100px;
    position:relative;
}

.ai-dlg-body .left {
    position: absolute;
    width:0;
    top:0;
    left:0;
}

.ai-dlg-body[hasIcon] .left {
    width:100px;
    height: 100%;
}

.ai-dlg-body .ico {
    position: absolute;
    left:20px;
    top:30%;
    width: 60px;
    height: 60px;
    font-size:60px;
    color:rgba(21, 126, 251, 0.9);
}

.ai-dlg-body .title {
    white-space: nowrap;
    margin-top:0;
    padding: 8px 0 0 0;
    display: block;
    color: #333;
    font-size: 20px;
    font-weight: 500;
}

.ai-dlg-body .msg {
    margin-bottom: 4px;
    margin-top: 8px;
    overflow: hidden;
    word-wrap: break-word;
}

/* confirm */

ai-confirm {
    display:inline-block;
    box-shadow:rgba(0, 0, 0, 0.4) 0px 5px 12px;
    background: #fff;
    overflow: hidden;
    min-width: 250px;
    min-height: 120px;
    border-top: solid 1px #cecece;
    border-right: solid 1px #ababab;
    border-bottom: solid 1px #898989;
    border-left: solid 1px #ababab;
}

ai-confirm .bar {
    text-align: center;
    white-space: nowrap;
    height:60px;
    position:relative;
}

ai-confirm .line {
    height: 1px;
    border-bottom:solid 1px #E5E5E5;
}

ai-confirm .no {
    position:absolute;
    margin:0;
    left:1px;
    right:50%;
    top:1px;
    height:60px;
    line-height:60px;
}

ai-confirm .yes{
    position:absolute;
    margin:0;
    left:50%;
    right:1px;
    top:1px;
    height:60px;
    line-height:60px;
}

/* alert */

ai-alert {
    display:inline-block;
    border-radius:3px;
    box-shadow:rgba(0, 0, 0, 0.4) 0px 5px 12px;
    background: #fff;
    overflow: hidden;
    min-width: 250px;
    min-height: 120px;
    border-top: solid 1px #cecece;
    border-right: solid 1px #ababab;
    border-bottom: solid 1px #898989;
    border-left: solid 1px #ababab;
}

ai-alert .bar {
    text-align: center;
    padding:10px;
}

ai-alert .line {
    height: 1px;
    border-bottom:solid 1px #E5E5E5;
}

ai-alert .ai-dlg-body .ico {
    color:rgba(252, 61, 57, 0.9);
}

/* notify */

ai-notify {
    
}

ai-notify .msg{
    .userSelect(text);
}

ai-notify .ok {
    line-height: normal;
    min-height:0;
    margin:0;
    min-width:0;
    font-size:initial;
    overflow:visible;
    padding:0;
}

ai-notify .msg{
    margin:0;
}

ai-notify .ico {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

ai-notify .close {
    position: absolute;
    margin:0;
    color:#777;
    overflow: hidden;
    cursor: pointer;
}

/* slidedown */

ai-notify.slidedown{
    display:block;
    background: rgba(255,255,255,.85);
    color: #777;
    position: relative;
    padding: 20px 50px 20px 20px;
    line-height: 1.4;
    font-size: 90%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

ai-notify.slidedown.hasico{

}

ai-notify.slidedown .ico {
    left: 15px;
    width: 42px;
    height: 42px;
    font-size: 42px;
}

ai-notify.slidedown.hasico .msg{ 
    margin-left:50px;
}

ai-notify.slidedown .close {
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size:20px;
}

ai-notify.slidedown .close.hover {
    color:#000;
}


/* slidedown dark */

ai-notify.slidedown.dark{
    background: rgba(42,45,50,.85);
    color: rgba(250,251,255,0.95);
}

ai-notify.slidedown.dark.hasico{
    box-shadow: inset 72px 0 rgba(0,0,0,0.6);
}

ai-notify.slidedown.dark .close {
    color:#14151b;
}
ai-notify.slidedown.dark .close.hover {
    color:#fff;
}

/* corner */

ai-notify.corner{
    display:inline-block;
    background: rgba(255,255,255,.95);
    color: #777;
    padding: 20px;
    line-height: 1.4;
    font-size: 90%;
    width: 300px; 
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.26);    
}

ai-notify.corner .ico {
    left: 15px;
    width: 32px;
    height: 32px;
    font-size: 32px;
}

ai-notify.corner.hasico .msg{ 
    margin-left:42px;
}

ai-notify.corner .close {
    top: 6px;
    right: 6px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
}

ai-notify.corner .close.hover {
    color:#000;
}

/* corner dark */

ai-notify.corner.dark{
    background: rgba(42,45,50,.85);
    color: rgba(250,251,255,0.95);
}

ai-notify.corner.dark .close {
    color:#14151b;
}
ai-notify.corner.dark .close.hover {
    color:#fff;
}

/* thumb */

ai-notify.thumb{
    display:inline-block;
    background: rgba(255,255,255,.95);
    color: #777;
    padding: 0;
    font-size: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);  
    overflow:hidden;
    width:64px;
    height:64px;
    transition: width .5s;
}
ai-notify.thumb.expand{
    width:380px;
}


ai-notify.thumb .ico {
    left: 0px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    font-size: 48px;
    background:#666;
    color:#888;
    text-align: center;
    vertical-align: middle;
}

ai-notify.thumb .msg{ 
    position:absolute;
    left:-380px;
    right:25px;
    line-height:64px;
    vertical-align: middle;
    white-space: nowrap;
    transition: left .5s;
    overflow: hidden;
    text-overflow: ellipsis;
}

ai-notify.thumb.expand .msg{
    left:79px;
}


ai-notify.thumb.expand .close{
    display:inline-block;
}

ai-notify.thumb .close {
    top: 6px;
    right: 6px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    display: none;
}

ai-notify.thumb.expand .close{
    display:inline-block;
}


ai-notify.thumb .close.hover {
    color:#000;
}

/* thumb dark */

ai-notify.thumb.dark{
    background: rgba(42,45,50,.85);
    color: rgba(250,251,255,0.95);
}

ai-notify.thumb.dark .close {
    color:#14151b;
}
ai-notify.thumb.dark .close.hover {
    color:#fff;
}
ai-notify.thumb.dark .ico {
    background:#333;
}
    
/* flip */    
ai-notify.flip{
    display:inline-block;
    background: rgba(255,255,255,.95);
    color: #484860;
    padding: 32px 28px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.26);    
    overflow:hidden;
    width: 250px;
    transform-origin: 50% 100%;
}
ai-notify.flip .msg{
    line-height: 1.4;
}

ai-notify.flip .ico {
    left: 20px;
    width: 32px;
    height: 32px;
    font-size: 32px;
    top: 32px;
    transform: none;

}
ai-notify.flip.hasico .msg{ 
    margin-left:42px;
}

ai-notify.flip .close {
    top: 6px;
    right: 6px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    color:#484860;
    font-weight:bold;
}

ai-notify.flip .close.hover {
    color:#000;
}

/* flip dark */

ai-notify.flip.dark{
    background: rgba(42,45,50,.85);
    color: rgba(250,251,255,0.95);
}

ai-notify.flip.dark .close {
    color:#14151b;
}
ai-notify.flip.dark .close.hover { 
    color:#fff;
}

/* circle */

ai-circle{
    display:inline-block;
    color: #fff;
    height:70px;
    width: 70px;
    overflow:hidden;
    transform-origin: 50% 100%;
    border-radius: 40px;
    transition: width .5s,opacity .5s;
}

ai-circle.show{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);    
    background: rgba(248,0,0,.9);
    width: 300px;
}

ai-circle .ok {
    display:inline-block;
    line-height: normal;
    min-height:0;
    margin:0;
    min-width:0;
    font-size:initial;
    overflow:visible;
    padding:0;
}


ai-circle .msg{
    .userSelect(text);
    opacity: 0;
    margin:0 0 0 32px;
    width:210px;
    line-height: 1.4;
    max-height:50px;
    overflow:hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-overflow: ellipsis;
}
ai-circle.show .msg{
    opacity: 1;
}
ai-circle.hasico .msg{ 
    margin:0 0 0 70px;
    width:170px;
}


ai-circle .ico {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    width: 42px;
    height: 42px;
    font-size: 42px;
}
ai-circle.show .ico{
    opacity: 1;
}

ai-circle .close {
    color:rgba(255,255,255,.9);
    opacity: 0;
    position: absolute;
    margin:0;
    overflow: hidden;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    font-weight:bold;
}
ai-circle.show .close{
    opacity: 1;
}

ai-circle .close.hover {
    color:rgba(255,255,255,1);
}

ai-circle svg {
	width: 70px;
	height: 70px;
	left: 0;
	top: 0;
	z-index: 100;
	position: absolute;
}
ai-circle.show svg{
    display:none;
}
ai-circle path {
	fill: none;
	stroke: rgba(248,0,0,.9);
	stroke-width: 5;
	stroke-dasharray: 204; 
	stroke-dashoffset: 204;
	opacity: 0;
}

.dashAnimation( @name,@duration,@timing) {
    .Keyframe(@pre, @post, @vendor) {
        @keyframe: ~"@{pre}@@{vendor}keyframes @{name} {0%";

        @{keyframe} {
            opacity: 0; stroke-dashoffset: 204; 
        }
	    33% { stroke-dashoffset: 160; }
	    50% { stroke-dashoffset: 150; }
	    85% { stroke-dashoffset: 30; }
	    100% { opacity: 1; stroke-dashoffset: 0; opacity: 1;}
        .Local() when (@post=1) {
            @local: ~"}.@{name}";

            @{local} {
                .animation(@name @duration @timing);
            }
        }
        .Local;
    }

    .Keyframe("", 0,"-webkit-");
    .Keyframe(~"}", 1,"");
}

.dashAnimation(ai-circle-loading,3s,linear);

ai-circle svg path {
  -webkit-animation: ai-circle-loading 27s linear;
  -webkit-animation-fill-mode: forwards;
  animation: ai-circle-loading 27s linear;
  animation-fill-mode: forwards;
}

/* flip dark */

ai-circle.dark{
    background: rgba(42,45,50,.85);
    color: rgba(250,251,255,0.95);
}

ai-circle.dark .close {
    color:#14151b;
}
ai-circle.dark .close.hover { 
    color:#fff;
} 
    